
   <div class="row mt-3  ">
  <div class="col-3"> 

<form autocomplete="off" (ngSubmit)="guardar()" [formGroup]="miFormulario">
    <div >
        <label class="p-0 mb-1">Nombre de usuario</label>
        <input type="text" formControlName="name" class="form-control" placeholder="Introduzca su nombre" />
        
        <span *ngIf="campoEsValido('name')" class="form-text text-danger">Este campo es obligatorio</span>
    </div>

    <div class=" mt-2">
        <label class="p-0 ">Contraseña</label>
        <input type="password" formControlName="password" class="form-control mt-2" placeholder="Introduzca contraseña" />
    
        <span *ngIf="campoEsValido('password')" class="form-text text-danger">La contraseña debe tener entre 6 y 10 caracteres</span>
    </div>

    <div class=" mt-2">
        <label class="p-0 ">Confirmar la Contraseña</label>
        <input type="password" formControlName="password2" class="form-control mt-2" placeholder="Introduzca contraseña" />
    
        <span *ngIf="campoEsValido('password2')" class="form-text text-danger">Las contraseñas deben ser iguales</span>
    </div>

    <div class=" mt-2">
        <label class="p-0  ">Correo</label>
        <input type="email" formControlName="email" class="form-control mt-2" placeholder="Introduzca su email" />

        <span *ngIf="campoEsValido('email')" class="form-text text-danger">Campo obligatorio</span>
    </div>

    <div class="mt-2 d-flex flex-row ">
        <input type="checkbox" class="form-check-input mx-1 " formControlName="notifications" />
        <label class="p-0">Enviar ofertas promocionales</label>
    </div>

    <div class=" mt-2">
        <label class="p-0">País</label>
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="country">
            <option selected> -- Seleccione su País -- </option>
            <option [value]="pais.name" *ngFor="let pais of paises">{{pais.name}}</option>
            
          </select>
    </div>

    <div class=" mt-2">
        <label class="p-0  ">Ciudad</label>
        <input type="text" class="form-control mt-2" placeholder="Introduzca su ciudad" formControlName="city" />
    
        <span *ngIf="campoEsValido('city')" class="form-text text-danger">Campo obligatorio</span>
    </div>

    <button type="submit"  class="mt-2 float-end button_pointier" mat-stroked-button [disabled]="!miFormulario.valid">
        {{ miFormulario.get('id')?.value ? 'Actualizar' : 'Crear' }}
    </button>
    

</form>

</div>

<div class="col">

    <app-table [persons]="persons" (onEditUser)="editUser( $event )"></app-table>

  </div>
</div>